SECONDARY_URLS=http://secondary1:8000,http://secondary2:8000
INITIAL_RETRY_DELAY=3 # Should be greater than MAX_REPLICATION_DELAY
MAX_RETRY_DELAY=30
SECONDARY_AUTH_SECRET=your-secure-api-key
MAX_REPLICATION_DELAY=1
SECONDARY_ERROR_PROBABILITY=0.1